.myparagh1 {
	width: 900px;
	font-size: 26px;
	font-family: 'Chivo Mono', monospace;
	font-weight: 700;
	margin-bottom: 70px;
}

.myparagh2 {
	width: 900px;
	font-family: "BPG Nino Mtavruli", sans-serif;
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 90%;

}